body {
    background-color: #191626;
    color: white;
}

label {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.title_bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-bottom-color: goldenrod;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}

.title_icon {
    grid-column: 1;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.title {
    grid-column: 3;
    text-align: center;
}

.login_redirect {
    grid-column: 5;
    background-color: purple;
    color: white;
    height: 75px;
    border-radius: 30px;
    border-color: goldenrod;
}

.dementia_box {
    grid-column: 2;
    display: grid;
}

.dementia_button {
    grid-column: auto;
    height: 75px;
    width: 125px;
}

.login_box {
    display: block;
    background-color: #261623;
    border-width: 1;
    border-color: goldenrod;
    border-style: double;
    grid-column: 2;
    padding: 10px;
    text-align: center;

}

.login_msger {
    display: none;
    color: red;
}