body {
    background-color: rgb(19, 19, 19);
    color: white;
}

label {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.title_bar {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border-bottom-color: rgb(255, 78, 187);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}

.title_bar .title_icon {
    grid-column: 1;
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.title_bar .title {
    grid-column: 3;
    text-align: center;
}

.title_bar .login_redirect {
    grid-column: 5;
    background-color: rgb(36, 36, 36);
    color: white;
    height: 75px;
    width: 125px;
    border-radius: 30px;
    border-color: rgb(255, 78, 187);
    text-align: center;
}

.title_bar .login_redirect img {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.dementia_box {
    grid-column: 2;
    display: grid;
}

.dementia_button {
    grid-column: auto;
    height: 75px;
    width: 125px;
}

.login_box {
    display: block;
    background-color: rgb(36, 36, 36);
    border-width: 3px;
    border-color: rgb(255, 78, 187);
    border-style: double;
    grid-column: 2;
    padding: 5px;
    text-align: center;
    width: 300px;
    height: 300px;
}

.login_box div {
    padding: 5px;
}

.login_msger {
    display: none;
    color: red;
}

.dashboard {
    display: grid;
    grid-template-columns: 275px auto;
}

.dashboard .sidebar {
    height: calc();
    grid-column: 1;
    grid-template-rows: 250px auto auto auto;
    padding: 15px;
    border-right-width: 1px;
    border-right-color: rgb(255, 78, 187);
    border-right-style: solid;
}

.dashboard .sidebar button {
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: white;
    border-color: rgb(255, 78, 187);
    border-top-width: 1px;
    border-right-style: none;
    border-left-style: none;
    padding: 5px;
}

.dashboard .sidebar .username {
    text-align: center;
}

.dashboard .sidebar .pfp {
    width: 250px;
    height: 250px;
    border-radius: 125px;
}

.dashboard .content {
    height: calc();
    grid-column: 2;
    grid-template-rows: 250px auto auto auto;
    padding: 15px;
    text-align: center;
}